{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock css %}


{% block main %}

<h1 class="title-main">Editar Senha</h1>

<form action="{% url 'PasswordEdit' %}" method="post">
    {% csrf_token %}
<div class="div-form">
    
    <div class="form-group">
        <label for="{{ form_password.old_password.id_for_label }}">Senha Antiga:</label>
        {{ form_password.old_password }}
        {% for error in form_password.old_password.errors %}
            <span class="errorlist">{{ error }}</span>
        {% endfor %}
    </div>
    
    <div class="form-group">
        <label for="{{ form_password.new_password1.id_for_label }}">Nova Senha:</label>
        {{ form_password.new_password1 }}
        {% for error in form_password.new_password1.errors %}
            <span class="errorlist">{{ error }}</span>
        {% endfor %}
    </div>
    
    <div class="form-group">
        <label for="{{ form_password.new_password2.id_for_label }}">Confirmar Nova Senha:</label>
        {{ form_password.new_password2 }}
        <ul>
        {% for error in form_password.new_password2.errors %}
            <li class="errorlist"><span >{{ error }}</span></li>
        {% endfor %}
        </ul>
    </div>

    <div class="form-group">
        {% if form_password.non_field_errors %}
            <ul>
            {% for error in form_password.non_field_errors %}
                <li class="errorlist"><span >{{ error }}</span></li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>


</div>

    <div class="group-bottons">

        <div class="submit-btn">
            <button type="submit" class="">Salvar Edição</button>
        </div>

        <div class="cancel-option">
            <a href="{% url 'UserEdit' %}">
                <span class="">Cancelar</span>
            </a>
        </div>
    </div>

</form>

{% endblock %}