{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock css %}


{% block main %}

<h1 class="title-main">Adicionar/Editar | Turmas</h1>



<div class="sub-form">
    <form action="{% url 'FormClass' %}" method="post">
        {% csrf_token %}
    <div class="div-form">
            
            <div class="form-group">
                <label for="">Nome:</label>
                {{ formClass.name }}
            </div>
            <div class="form-group">
                <label for="">Período/Ano:</label>
                {{ formClass.period }}
            </div>
            <div class="form-group">
                <label for="">Curso:</label>
                {{ formClass.course }}
            </div>
            <div class="form-group">
                <label for="">Horário:</label>
                {{ formClass.timeTable }}
            </div>
            <div class="form-group">
                <label for="">Abreviação:</label>
                {{ formClass.acronym }}
            </div>
    </div>

    <h3>Aulas da Turma</h3>
    <div class="div-form formClass">

                    {% for form in dayClasses_list %}
                        <div class="dayClass">
                        <h4>{{ form.day }}</h4>

                        <div class="form-group">
                            <label for="">07:00</label>
                            {{ form.first }}
                        </div>
                        <div class="form-group">
                            <label for="">07:45</label>
                            {{ form.second }}
                        </div>
                        <div class="form-group">
                            <label for="">08:50</label>
                            {{ form.third }}
                        </div>
                        <div class="form-group">
                            <label for="">09:35</label>
                            {{ form.fourth }}
                        </div>
                        <div class="form-group">
                            <label for="">10:30</label>
                            {{ form.fifth }}
                        </div>
                        <div class="form-group">
                            <label for="">11:15</label>
                            {{ form.sixth }}
                        </div>
                        
                        </div>
                    {% endfor %}



                </div>
            <div class="submit-btn">
                <button type="submit">Salvar Turma</button>
            </div>
    </form>
</div>

<div class="div-courses-classes">

    {% for course in courses %}
    <div class="div-courses">

    <p class="course-name">{{course}}</p>
        <div class="box-classes">
            {% for class in course.class_set.all %}

            <div class="div-class">
                <a href="#" class="class-acronym">
                    <span >{{class.acronym}}</span>
                </a>
            </div>
            {% endfor %}
        </div>


    </div>
        {% endfor %}


</div>


{% endblock %}