{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock css %}


{% block main %}


<div class="sub-form">
    <h2>Formulário de Curso</h2>
    <div class="div-form">

        <form action="{% url 'FormClass' %}" method="post">
            {% csrf_token %}

            <div class="form-group">
                <label for="{{ courseForm.id_name }}">Nome:</label>
                {{ courseForm.name }}
            </div>
            <div class="submit-btn">
                <button type="submit">Salvar Curso</button>
            </div>
            
        </form>

    </div>
</div>

{% endblock main %}