{% extends "base.html" %}

{% block main %}
<div class="title-add-option">
<h1 class="title-main">Tabela | Professores</h1>
{% if request.user.teacher %}
<span class="add-option"><a href="{% url 'SubjectsTeacher' request.user.teacher.pk %}"></a></span>
{% endif %}
</div>

<div class="lista-teachers">

    {% for teacher in teachers %}

        <div class="div-teacher">
            <a href="{% url 'SubjectsTeacher' teacher.pk %}">
                <img src="{{teacher.user.imgProfile}}" alt="{{teacher}}" class="img-teacher"></span>
                <span class="name-teacher">{{teacher}}</span>
            </a>
        </div>

    {% endfor %}

</div>


{% endblock %}