{% extends "base.html" %}
{% load static %}
{% load tags_template %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock css %}

{% block main %}
<h1 class="title-main">Professores Ausentes</h1>

<div class="lista-teachers">

    {% for form in form_list %}
    <form action="" method="post">
        <div class="div-absent">
        {% csrf_token %}
        <input type="hidden" name="form-prefix" value="{{ form.prefix }}">
        <div class="form-group">
        <span class="element-absent">Professor ausente: </span><span class="element-absent-value">{{teachers_list|get_item:forloop.counter0}}</span>
        </div>
        <div class="form-group">
            <span class="element-absent">Turma: </span><span class="element-absent-value">{{turms_list|get_item:forloop.counter0}}</span>
            <span class="element-absent">Turno: </span><span class="element-absent-value">{{timeTable_list|get_item:forloop.counter0}}</span>
        </div>
        <div class="form-group">
            <span class="element-absent">Horários: </span>
            <span class="element-absent-value">{{schedule_list|get_item:forloop.counter0|re_absent}}</span>
        </div>
        <div class="form-group">
            <label class="element-absent" for="">Professor Substituto:</label>
            {% if form.substituteTeacher.value != None %}
            <span class="element-absent-value">{{ substitutes_list|get_item:forloop.counter0 }}</span>
            {% else %}
                {{form.substituteTeacher}}
            {% endif %}
        </div>
        {% if form.substituteTeacher.value == None %}
            <div class="submit-btn">
                <button type="submit">Salvar</button>
            </div>
        {% endif %}

    </div>
    </form>
    {% endfor %}
</div>




{% endblock %}