:root{
    --color1: #3FC2EA;
    --color2: #0F5A72;
    --color3: #3c8ba3;
  }

.div-form{
    background-color: rgba(0, 0, 0, 0.199);
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.div-form > form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:baseline;
}

.form-group{
    margin: 0 30px 20px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

.form-group > label{
    margin-right: 5px;
    font-size: 14pt;
    font-weight: 600;
    color: white;
}

.form-element{
    caret-color: var(--color1);
    outline: none;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    font-size: 12pt;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.219) ;
}

.form-element:disabled{
    background-color: rgba(255, 255, 255, 0.219);
}

.submit-btn > button{
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    outline: none;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #3c8ba3;
    color: white;
    font-size: 14pt;
    font-weight: 600;
}

.form-element-select {
    width: 100%;
    max-width: 250px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.219);
    color: white;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}

/* Estilos para as opções do select */
.form-element-select option {
    background-color: #f2f2f2;
    color: #333;
    padding: 10px;
    font-size: 16px;
}

.sub-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 30px;
}

.sub-form > .div-form, .sub-form form > .div-form{
    margin-top: 20px;
}



.dayClass> .form-group > .form-element-select{
    max-width: 200px;
}

.dayClass > .form-group > label{
    font-size: 12pt;
    font-weight: 400;
    width: 47px;
    padding-right: 0;
    color: white;
}

.dayClass{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    margin: 0 10px 10px 10px;
    padding: 10px;
    background-color: #00000033;
    border-radius: 5px;
}

.dayClass > h4{
    margin-bottom: 5px;
    font-size: 14pt;
    font-weight: 600;
    color: var(--color3);
}

.sub-form > form h3{
    margin-top: 20px;
}

.dayClass > .form-group{
    margin-right: 0;
    margin-bottom: 10px;
}

.sub-form form > .div-form.formClass{
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 5px;
}