:root{
  --color1: #3FC2EA;
  --color2: #0F5A72;
  --color3: #3c8ba3;
  --color4: #D9D9D9;
  --color5: #aa3432;
}

*{
    font-family: 'Maven Pro', sans-serif;
  }
  
  .hidden{
    display: none;
  }
  body{
    margin: 0;
    display: flex;
    background-color: #23282a;
    background: linear-gradient(242deg, #444 0%, #252A2C 37.5%, #191F21 75%);
    background-attachment: fixed;
    
  }

.title-add-absent{
  display: flex;
  flex-direction: column;
}
.add-absent{
  margin-top: 15px;
  background-color: var(--color3);
  width: max-content;
  height: max-content;
  border-radius: 6px;
  padding: 10px 5px;
}

.add-absent a{
  text-decoration: None;
  color: white;
  font-size: 14pt;
  font-weight: 500;
  padding: 10px 5px;
}

.conteiner-wave{
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: 0;
  z-index: 0;
  display: flex;
  margin: 0;
  position: fixed;
  pointer-events: none;
}

.wave{
    z-index: 0;
    position: absolute;
    width: 200%;
    height: 100%;
    animation: wave 50s linear infinite;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.wave img{
    width: 50%;
    opacity: 2%;
    filter: invert();
    mix-blend-mode: lighten;
    object-fit: cover;
    
  }

@keyframes wave{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-50%);
  }
}

.group-absents{
  display: flex;
  flex-wrap: wrap;
  
}
.main-body{
  z-index: 1;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 35px;
    margin-left: 295px;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.main-body.margin-left{
  margin-left: 109px;
}

.title-main{
  color: white;
  margin: 0;
  font-size: 22pt;
  font-weight: 600;
}

.title-name-class{
  font-size: 16pt;
  font-weight: 500;
  color: var(--color4);
}

h2{
  color: var(--color1);
  margin: 0 0 20px 0;
  font-size: 20pt;
  font-weight: 500;
}

h3{
  color: var(--color1);
  margin: 0;
  font-size: 18pt;
  font-weight: 400;
}

h4{
  color: white;
  margin: 0;
  font-size: 16pt;
  font-weight: 400;
}

.lista-teachers{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
}

.div-teacher{
  padding: 7px;
  display: flex;
  align-items: center;
  margin: 0 15px 15px 0;
  max-width: 250px;
  max-height: 60px;
  border-radius: 16px;
  background: var(--color4);
}

.div-teacher > a{
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo  span>img{
  height: 70px;
  width: auto;
}

.img-teacher{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 10px;
  border: 2px solid var(--color2);
}

.profile-teacher{
  font-size: 18pt;
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 500;
  color: var(--color3);
}

.name-teacher{
  display: flex;
  width: auto;
  height: 51px;
  flex-direction: column;
  justify-content: center;
  color: var(--color2);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.div-courses-classes{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.div-courses{
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.div-courses > p{
  color: var(--color1);
  font-size: 16pt;
  flex: 1;
  margin: 0;
  font-weight: 600;
}

.box-classes{
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.div-class{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  margin: 0 15px 15px 0;
  background-color: var(--color4);
  border-radius: 10px;
  padding: 10px;
}

.class-acronym{
  text-decoration: none;
  font-size: 12pt;
  color: var(--color2);
  font-weight: 600;

}
.title-class{
  display: flex;
  font-size: 18pt;
  font-weight: 600;
  height: 40px;
  color: var(--color4);
  background-color: var(--color2);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin: 0px 5px 10px 0;
  width: auto;
  
}

.box-subjects-class{
  display: flex;
  flex-direction: row;
  width: auto;
  margin-bottom: 10px;
}

.timeHour{
  display: flex;
  flex-direction: column;  
}

.timeHour > span{
  margin: 5px 5px 0 0;
  width: 60px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 12pt;
  border-radius: 5px;
  font-weight: 600;
}

.timeHour.morning > span{
  background-color: #c0c0a5;
  color: black;
}

.timeHour.afternoon > span{
  background-color: #5f5f51;
  color: white;
}

.timeHour.night > span{
  background-color: #252520;
  color: white;
}

.days-week > .vacu{
  width: 60px;
  height: 25px;
  background-color: var(--color4);
  border-radius: 5px;
  margin: 5px 5px 0 0;
}

.days-week{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: auto;

}

.days-subjects{
  display: flex;
  flex-direction: column;
  width: auto;
  flex: 1;
}

.days-subjects > *{
  margin: 5px 5px 0 0;
  display: flex;
  flex-direction: column;

}

.day-name{
  margin: 5px 5px 0 0;
  max-width: 200px;
  width: auto;
  min-width: 130px;
  background-color: var(--color4);
  border-radius: 5px;
  height: 25px;
  font-size: 12pt;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.teacher-subject{
  float: left;
  display: flex;
  flex-direction: row;
  width: auto;
  height: 54px;
  align-items: center;
  font-size: 10pt;
  font-weight: 600;
  color: var(--color2);
  text-align: left;
}

.teacher-subject > img{
  width: 35px;
  height: 35px;
}

.group-all-horary{
  display: flex;
  flex-direction: column;
  max-width: max-content;
}

.group-all-horary.teacher > .box-subjects-class > .days-subjects > .box-subject{
  background-color: #00000056;
  color: white;
}

.class-name{
  color: var(--color3);
  font-weight: 600;
  font-size: 11pt;
}

.box-subject{
  font-weight: 500;
  background-color: var(--color4);
  border-radius: 5px;
  padding: 5px;
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  min-width: 120px;
  max-width: 190px;
  width: auto;
  flex: 1;
  font-size: 10pt;
}


.box-subject > .class-teacher{
  color:black;
  font-weight: 500;
  margin: 5px;
}

.table-class{
  width: fit-content;
}

.view-class{
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.box-subject.teacher{
  background-color: var(--color4);
  justify-content: space-around;
  align-items: center;

}

.subject-teacher-name{
  margin-bottom: 5px;
  color: var(--color2);
  font-size: 13pt;
  font-weight: 600;
  width: fit-content;
  text-align: center;
}