{% extends "base.html" %}
{% load static %}
{% load tags_template %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock css %}


{% block main %}

<div class="title-add-absent">
    <h1 class="title-main">Tabelas | Turmas : <span class="title-name-class">{{turm.course}} {{turm.period}}ºPeríodo
            {{turm.timeTable}}</span></h1>
    <span class="add-absent"><a href="#absent">Cadastrar Ausência</a></span>
</div>


<div class="view-class">
    <div class="sub-form">

        <div class="table-class">

            <span class="title-class">{{turm.acronym}}</span>

            <div class="group-all-horary">

                <div class="days-week">
                    <span class="vacu"></span>
                    <span class="day-name">Segunda-Feira</span>
                    <span class="day-name">Terça-Feira</span>
                    <span class="day-name">Quarta-Feira</span>
                    <span class="day-name">Quinta-Feira</span>
                    <span class="day-name">Sexta-Feira</span>
                </div>

                {% if class_morning %}

                <div class="box-subjects-class">

                    <div class="timeHour morning">

                        <span>
                            07:00
                        </span>
                        <span>
                            07:45
                        </span>
                        <span>
                            08:50
                        </span>
                        <span>
                            09:35
                        </span>
                        <span>
                            10:30
                        </span>
                        <span>
                            11:15
                        </span>
                    </div>

                    {% for days in class_morning %}

                    <div class="days-subjects">


                        <div class="box-subject">
                            {% if days.first %}
                            <div class="teacher-subject">
                                <img class="img-teacher" src="{{days.first.teacher.user.imgProfile}}" alt="">
                                <span class="teacher-name">{{days.first.teacher}}</span>
                            </div>
                            <span>{{days.first.acronym}}</span>
                            {% endif %}
                        </div>
                        <div class="box-subject">
                            {% if days.second %}
                            <div class="teacher-subject">
                                <img class="img-teacher" src="{{days.second.teacher.user.imgProfile}}" alt="">
                                <span class="teacher-name">{{days.second.teacher}}</span>
                            </div>
                            <span>{{days.second.acronym}}</span>
                            {% endif %}
                        </div>
                        <div class="box-subject">
                            {% if days.third %}
                            <div class="teacher-subject">
                                <img class="img-teacher" src="{{days.third.teacher.user.imgProfile}}" alt="">
                                <span class="teacher-name">{{days.third.teacher}}</span>
                            </div>
                            <span>{{days.third.acronym}}</span>
                            {% endif %}
                        </div>
                        <div class="box-subject">
                            {% if days.fourth %}
                            <div class="teacher-subject">
                                <img class="img-teacher" src="{{days.fourth.teacher.user.imgProfile}}" alt="">
                                <span class="teacher-name">{{days.fourth.teacher}}</span>
                            </div>
                            <span>{{days.fourth.acronym}}</span>
                            {% endif %}
                        </div>
                        <div class="box-subject">
                            {% if days.fifth %}
                            <div class="teacher-subject">
                                <img class="img-teacher" src="{{days.fifth.teacher.user.imgProfile}}" alt="">
                                <span class="teacher-name">{{days.fifth.teacher}}</span>
                            </div>
                            <span>{{days.fifth.acronym}}</span>
                            {% endif %}
                        </div>
                        <div class="box-subject">
                            {% if days.sixth %}
                            <div class="teacher-subject">
                                <img class="img-teacher" src="{{days.sixth.teacher.user.imgProfile}}" alt="">
                                <span class="teacher-name">{{days.sixth.teacher}}</span>
                            </div>
                            <span>{{days.sixth.acronym}}</span>
                            {% endif %}
                        </div>

                    </div>

                    {% endfor %}
                </div>
                {% endif %}

                {% if class_afternoon %}

                <div class="box-subjects-class">

                    <div class="timeHour afternoon">

                        <span>
                            13:00
                        </span>
                        <span>
                            13:45
                        </span>
                        <span>
                            14:50
                        </span>
                        <span>
                            15:35
                        </span>
                        <span>
                            16:30
                        </span>
                        <span>
                            17:15
                        </span>
                    </div>

                    {% for days in class_afternoon %}

                    <div class="days-subjects">


                        <div class="box-subject">
                            {% if days.first %}
                            <div class="teacher-subject">
                                <img class="img-teacher" src="{{days.first.teacher.user.imgProfile}}" alt="">
                                <span class="teacher-name">{{days.first.teacher}}</span>
                            </div>
                            <span>{{days.first.acronym}}</span>
                            {% endif %}
                        </div>
                        <div class="box-subject">
                            {% if days.second %}
                            <div class="teacher-subject">
                                <img class="img-teacher" src="{{days.second.teacher.user.imgProfile}}" alt="">
                                <span class="teacher-name">{{days.second.teacher}}</span>
                            </div>
                            <span>{{days.second.acronym}}</span>
                            {% endif %}
                        </div>
                        <div class="box-subject">
                            {% if days.third %}
                            <div class="teacher-subject">
                                <img class="img-teacher" src="{{days.third.teacher.user.imgProfile}}" alt="">
                                <span class="teacher-name">{{days.third.teacher}}</span>
                            </div>
                            <span>{{days.third.acronym}}</span>
                            {% endif %}
                        </div>
                        <div class="box-subject">
                            {% if days.fourth %}
                            <div class="teacher-subject">
                                <img class="img-teacher" src="{{days.fourth.teacher.user.imgProfile}}" alt="">
                                <span class="teacher-name">{{days.fourth.teacher}}</span>
                            </div>
                            <span>{{days.fourth.acronym}}</span>
                            {% endif %}
                        </div>
                        <div class="box-subject">
                            {% if days.fifth %}
                            <div class="teacher-subject">
                                <img class="img-teacher" src="{{days.fifth.teacher.user.imgProfile}}" alt="">
                                <span class="teacher-name">{{days.fifth.teacher}}</span>
                            </div>
                            <span>{{days.fifth.acronym}}</span>
                            {% endif %}
                        </div>
                        <div class="box-subject">
                            {% if days.sixth %}
                            <div class="teacher-subject">
                                <img class="img-teacher" src="{{days.sixth.teacher.user.imgProfile}}" alt="">
                                <span class="teacher-name">{{days.sixth.teacher}}</span>
                            </div>
                            <span>{{days.sixth.acronym}}</span>
                            {% endif %}
                        </div>

                    </div>

                    {% endfor %}
                </div>
                {% endif %}

                {% if class_night %}

                <div class="box-subjects-class">

                    <div class="timeHour night">

                        <span>
                            19:00
                        </span>
                        <span>
                            19:45
                        </span>
                        <span>
                            20:40
                        </span>
                        <span>
                            21:25
                        </span>

                    </div>

                    {% for days in class_night %}

                    <div class="days-subjects">


                        <div class="box-subject">
                            {% if days.first %}
                            <div class="teacher-subject">
                                <img class="img-teacher" src="{{days.first.teacher.user.imgProfile}}" alt="">
                                <span class="teacher-name">{{days.first.teacher}}</span>
                            </div>
                            <span>{{days.first.acronym}}</span>
                            {% endif %}
                        </div>
                        <div class="box-subject">
                            {% if days.second %}
                            <div class="teacher-subject">
                                <img class="img-teacher" src="{{days.second.teacher.user.imgProfile}}" alt="">
                                <span class="teacher-name">{{days.second.teacher}}</span>
                            </div>
                            <span>{{days.second.acronym}}</span>
                            {% endif %}
                        </div>
                        <div class="box-subject">
                            {% if days.third %}
                            <div class="teacher-subject">
                                <img class="img-teacher" src="{{days.third.teacher.user.imgProfile}}" alt="">
                                <span class="teacher-name">{{days.third.teacher}}</span>
                            </div>
                            <span>{{days.third.acronym}}</span>
                            {% endif %}
                        </div>
                        <div class="box-subject">
                            {% if days.fourth %}
                            <div class="teacher-subject">
                                <img class="img-teacher" src="{{days.fourth.teacher.user.imgProfile}}" alt="">
                                <span class="teacher-name">{{days.fourth.teacher}}</span>
                            </div>
                            <span>{{days.fourth.acronym}}</span>
                            {% endif %}
                        </div>

                    </div>

                    {% endfor %}
                </div>
                {% endif %}

            </div>
        </div>
    <h2>Professores Ausentes</h2>
    <div class="group-absents">
    {% for absent in absents %}
    <div class="div-absent">

        <div class="form-group">
            <span class="element-absent">Professor ausente: </span>
            <span class="element-absent-value">{{ absent.absentTeacher }}</span>
        </div>
        <div class="form-group">
            <span class="element-absent">Turno: </span>
            <span class="element-absent-value">{{ absent.timeTable }}</span>
            <span class="element-absent">Horários: </span>
            <span class="element-absent-value">{{ absent.absentClass }}</span>
        </div>
        <div class="form-group">
            <span class="element-absent" for="">Professor Substituto:</span>
            <span class="element-absent-value">{% if absent.substituteTeacher == None %} Nenhum no momento {%else%} {{absent.substituteTeacher}} {% endif %}</span>
        </div>
        <div class="form-group">
            <span class="element-absent" for="">Data:</span>
            <span class="element-absent-value">{{ absent.absentDate }}</span>
        </div>

    </div>
    {% endfor %}
    </div>

        

    </div>

    <div id="absent" class="form-absent">

        <div class="div-form">
            <h2>Cadastrar Ausência</h2>
            <form action="{% url 'SubjectsClass' turm.pk %}" method="post">
                {% csrf_token %}
                {% if teacher == None %}
                <div class="form-group">
                    <label for="">Professor Ausente:</label>
                    {{form.absentTeacher}}
                </div>
                {% endif %}

                <div class="form-group">
                    <label for="">Turno:</label>
                    {{form.timeTable}}
                </div>

                <div class="all-checkbox">
                    <div class="form-group checkbox">
                        {% if form.absentClass.errors %}
                        <span class="errorlist">{{ form.absentClass.errors.0 }}</span>
                        {% endif %}
                        <label for="{{form.absentClass.id_for_label}}">Horários:</label>
                        <div class="checkbox-group">
                            {{form.absentClass}}
                        </div>
                    </div>
                    <div class="form-group checkbox">
                        {% if form.absentDate.errors %}
                        <span class="errorlist">{{ form.absentDate.errors.0 }}</span>
                        {% endif %}
                        <label for="{{form.absentDate.id_for_label}}">Selecione o dia:</label>
                        {{form.absentDate}}
                    </div>

                </div>
                <div class="submit-btn">
                    <button type="submit">Salvar</button>
                </div>
            </form>
        </div>
    </div>

    


</div>


{% endblock main %}